/* #region utilities */
:root{
    --light-white: #ffffff;
    --light-orange: #ff8f00;
    --deep-blue: #051e34;
    --bread_blue: #165bba;
    --banner-blue: #1b72e8;
}


img{
    width: 100%;
}

.m_left{
    margin-left: 0.5rem;
}

.breadcrumb_border{
    text-decoration: none;
    color: var(--light-white);
}

#circle{
    border-radius: 50%;
    padding: 0.4rem 0.6rem;
    aspect-ratio: 1 / 1;
    text-align: center;
    vertical-align: middle;
}
.font_size{
    font-size: 0.8rem;
}

.text_vertical{
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

.

/* #endregion utilities */




/* #region debug */




.top_cont_debug{
    background-color: chartreuse;
    height: 150px;
    width: calc(100vw - 60px);
    
}

.bottom_cont_debug{
    background-color: black;
    height: 300px;
    width: calc(100vw - 60px);
}


.col_top_content_debug{
    
    border: 1px dotted black;
}

/* #endregion debug */

/* #region navbar */

.fixed_height{
    height: 60px;
}

nav{
    width: 100vw;
}

.navbar_bg{
    background-color: var(--light-white);
}

.search_width{
    width: 60%;
}

.bell_color{
    color: var(--light-orange);
}



/* #endregion navbar */

/* #region main */



/* #region content */

main{
    width: calc(100% - 60px);
    overflow-y: auto;
}

.wrapper{
    height: calc(100vh - 60px);
}

.sidebar{
    width: 60px;
    height: calc(100vh - 60px);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--deep-blue);
}

.sidebar_lg{
    width: 100px;
    height: calc(100vh - 60px);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--deep-blue);
}

.sidebar_lg> .col{
    justify-content: space-between;
    height: 100%;
}

.top_sidebar{
    margin-top: 1rem;
}

.bottom_sidebar{
    margin-bottom: 1rem;
}

.banner{
    background-color: var(--banner-blue);
    height: 192px;
    

 

}

.icon_size{
    font-size: large;
}
.banner_icon{
    margin-top: 0.5rem;
}

.align_text{
    margin-top: 0.7rem;
    margin-right: 0.3rem;
}

.breadcrumb_border{
     border-radius: 40px;
     background-color: var(--bread_blue);
     padding: 0.4rem;
}

.badge_circle{
    width: 25px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    text-align: center;
}

.col_height{
    height: 30%;
}


/* #endregion content */










/* #endregion main */




/* #region media-query */

@media screen and (min-width: 992px) {
    main{
        width: calc(100% - 100px);
    }
}

/* #endregion media-query */