/* #region utilities */
:root{
    --light-white: #ffffff;
}


img{
    width: 100%;
}


/* #endregion utilities */




/* #region debug */
.vertical_debug{
    
    height: 100%;
    border: 1px dotted black;
    background-color: red;

}

.content_debug{
    background-color: blue;
    height: calc(100vh - 60px);
    

}

.top_cont_debug{
    background-color: chartreuse;
    height: 150px;
    width: 100vw;
    
}

.bottom_cont_debug{
    background-color: black;
    height: 300px;
    width: 100vw;
}


.col_top_content_debug{
    
    border: 1px dotted black;
}

/* #endregion debug */

/* #region navbar */

.fixed_height{
    height: 60px;
}

nav{
    width: 100vw;
}

.navbar_bg{
    background-color: var(--light-white);
}

/* #endregion navbar */

/* #region main */

main{
    height: calc(100vh - 60px);
    width: 100vw;
}

/* #region content */

.sidebar{
    width: 60px;
}

.content{
    width: 100%;
}



/* #endregion content */










/* #endregion main */